<div  style="max-width:450px; margin:auto; padding:30px; background:#fff; border-radius:12px; box-shadow:0 4px 8px rgba(0,0,0,0.1)">
  <h2>🔒 Update Password</h2>
  <oj-form-layout direction="column" max-columns="1">
     <oj-input-password value="{{oldPassword}}" label-hint="Current Password" placeholder="Enter your current password" required
         ></oj-input-password>
          <oj-input-password value="{{newPassword}}" label-hint="New Password" placeholder="Enter your new password" required
          validators="[[passwordValidator]]"></oj-input-password>
        <oj-input-password value="{{confirmPassword}}" label-hint="Confirm Password" 
          required="true"validators="[[confirmPasswordValidator]]" ></oj-input-password>
    <!-- <oj-input-text id="oldPassword" value="{{oldPassword}}" label-hint="Current Password" validators="[[passwordValidator]]"
    ></oj-input-text>
    <oj-input-text id="newPassword" value="{{newPassword}}" label-hint="New Password" validators="[[passwordValidator]]"></oj-input-text>
    <oj-input-text id="confirmPassword" value="{{confirmPassword}}" label-hint="Confirm Password"validators="[[confirmPasswordValidator]]"" ></oj-input-text> -->
  </oj-form-layout>

  <div style="margin-top:20px; text-align:center;">
    <oj-button on-oj-action="[[updatePassword]]">Submit</oj-button>
  </div>

  <!-- Success/Error Messages -->
  <div data-bind="visible: message" style="margin-top:15px; font-weight:bold;">
    <span data-bind="text: message, style: { color: messageColor }"></span>
  </div>
</div>
